<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$Data.Title</title>
    <link href="../Skins/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../Skins/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../Skins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="../SKins/ckfinder/ckfinder.js"></script>
    <style type="text/css">
    input[type=text]{  width:500px; font-size:18px;}
        .myinline {
            display:inline;
        }
    </style>
</head>
<body>
