#parse ("admin/Head.htm")

<div style=" height:50px; margin-top:20px; margin-left:30px; font-size:16px;"><a href="imgEdit.ashx?Action=AddNew&colsBelong=新革商演培训&pagesBelong=课堂瞬间">添加新的图片信息</a></div>

<table class="table table-striped table-bordered">
    <thead>
        <tr><td>编辑</td><td>删除</td><td>图片编号</td><td>图片预览</td><td>所在模块</td><td>所在页面</td><td>图片描述</td></tr>
    </thead>
    <tbody>
    #foreach($p in $Data.Imgs)
        <tr>
            <td><a href="../Admin/imgEdit.ashx?Action=Edit&imgId=$p.imgId">编辑</a></td>
            <td><a href="../Admin/imgEdit.ashx?Action=Delete&imgId=$p.imgId" onclick="return confirm('确定删除该记录吗?')">删除</a></td>
            <td>$p.imgId </td>
            <td><img src="$p.imgSrc" width="100" height="100" alt="课堂瞬间"></td>
            <td>$p.colsBelong </td>
            <td>$p.pagesBelong </td>
            <td>$p.imgDescription </td>
        </tr>
        #end
    </tbody>

</table>


#parse("admin/foot.htm")