#parse ("admin/Head.htm")
<!--<script type="text/javascript" src="../Skins/ckeditor/ckeditor.js"></script>-->
<form action="../admin/trainEdit.ashx" method="post" enctype="multipart/form-data" id="J-form-sub">
    <input type="hidden" name="isPostBack" value="true" />
    <input type="hidden" name="Action" value="$Data.Action" />
    <table class="table table-striped table-bordered">
        <tr>
            <td>栏目编号</td>
            <td><input type="text" class="form-control" name="TrainId" value="$Data.Train.TrainId" readonly="readonly" /> </td>
        </tr>
        <tr>
            <td>栏目名称</td>
            <td><input type="text" class="form-control" name="TrainName" value="$Data.Train.TrainName" readonly="readonly" /> </td>
        </tr>
        <tr>
            <td>标题</td>
            <td>
            <input type="text" class="form-control validation myinline" id="TrainCaption" name="TrainCaption" value="$Data.Train.TrainCaption" />
                <span class="lblMessage" style="color: Red;"></span>
            </td>
        </tr>
        <tr>
            <td>详细</td>
            <td><textarea name="TrainDetail" id="TrainDetail">$Data.Train.TrainDetail</textarea> </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="保存" class="btn btn-success J-btn-sub" />
                <input type="button" value="返回" onclick="javascript:history.back();" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    var msg = document.getElementById("TrainDetail");
    // CKEDITOR.replace(msg);
    var ckeditor = CKEDITOR.replace(msg);
    CKFinder.setupCKEditor(ckeditor, '/Skins/ckfinder/');

    var jQuery = jQuery.noConflict();

    jQuery(".validation").blur(function () {
        checkValueLegal(jQuery(this));
    });

    function checkValueLegal(obj) {
        var success = true;
        var id = obj.attr("id");
        var val = jQuery.trim(obj.val());

        obj.siblings(".lblMessage").html("");

        if (id == "TrainCaption" && jQuery("#TrainCaption").val().trim().length > 30) {
            obj.siblings(".lblMessage").html("*标题长度需小于30个字符");
            success = false;
        }

        if (id == "TrainCaption" && jQuery("#TrainCaption").val().trim().length <= 0) {
            obj.siblings(".lblMessage").html("*不能为空");
            success = false;
        }

        return success;
    }

    jQuery(".J-btn-sub").click(function () {
        var count = 0;
        jQuery(".validation").each(function (i) {
            if (!checkValueLegal(jQuery(this))) {
                count++;
            }
        });

        if (count > 0) {
            return false;
        }
        jQuery("#J-form-sub").submit();
    });
</script>

#parse("admin/Foot.htm")
